body {
    font-family: "Montserrat", sans-serif;
    background-color:#FAD6A5; 
}

#title {
    background-color: #7C9070;
    color:#FAD6A5;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 600;
    text-align: center;
    color:#52616b;
}
.container-fluid {
    padding: 3% 15%;
}

.navbar {
    padding: 0 0 4.5rem;
}
.navbar-brand {
font-family: "Ubuntu";
font-size: 2.5rem;
font-weight: bold;
}
.nav-item {
padding: 0 18px;
}
.nav-link {
font-size: 1.2rem;
}


#myVideo {
    width: 100%;
}



#testimonials {
text-align: center;
background-color: #F97B22;
color: #fff;
}

.carousel-item active h2 {
font-weight: 600;
font-size: 3rem;
line-height: 1.5;
}

.testimonial-image {
width: 70%;
border-radius: 100%;
margin: 20px;
}

.carousel-item {
padding: 7% 15%;
}


#features {
background-color:#7C9070;
padding: 7% 15%;
}

.feature-box {
text-align: center;
padding: 4.5%;
}

 h3 {
font-family: 'Montserrat', sans-serif;
font-size: 1.5rem;
font-style: bold;
font-weight: 900;
}

p {
color: white;
}

.icon {
color:#F97B22;
margin-bottom: 1rem;
}

.icon:hover {
color: #FAD6A5;
}

#gift {
width: 100%;
padding: 75px 0;
}
.gift-text {
text-align: center;
padding-bottom: 75px;
}
.gift-box{
width: 100%;
margin: auto;
display: flex;
align-items: center;
flex-wrap: wrap;
}
.gift-image{
flex-basis: 60%;
margin: auto;
}
.gift-image img{
width: 100%;
border-radius: 10px;
border: 2px solid #52616b;
}
.gift-conditions {
flex-basis: 40%;
padding: 20px 10px;
}
.gift-conditions h2 {
text-align: left;
margin-bottom: 10px;
color:#52616b;
}
.gift-block {
    display: flex;
    align-items:center;
    margin-bottom: 1px;
}
.gift-icon ion-icon{
    width: 40px;
    height: 40px;
    border: 1px solid #52616b;
    border-radius: 10px;
    padding: 10px;
    color:#7C9070;
}
.gift-description {
    padding: 0 20px;
    text-align: initial;
}
.gift-btn {
    display: flex;
    justify-content: center;
}

.gift-cta {
    background-color: #7C9070;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    font-size: 15px;
    cursor: help;
    flex: 1;
    border-radius: 10px;
}

.gift-cta:hover {
    background-color: #F97B22;
}


#footer {
width: 100%;
height: 30vh;
position: relative;
}
.footer-text {
position: absolute;
text-align: center;
top: 20%;
left: 50%;
transform: translate(-50%, -50%);
}
.footer-text h4 {
color: #52616b;
font-size: 30px;
} 
.footer-text h1 {
color: #52616b;
font-size: 35px;
padding: none;
}
.footer {
background: url(img/footer.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
position: absolute;
bottom: 0;
left: 0;
width: 100%; 
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.footer-left, .footer-right {
flex-basis: 35%;
padding: 10px;
margin-bottom: 20px;
}
.footer-right {
text-align: right;
}
.footer h2 {
color:#52616b;
margin: 10px 0;
font-weight: 600;
font-size: 1rem;
}
.footer p{
color:#52616b;
line-height: 10px;
}
.footer-left .fas,.footer-right .fas {
font-size: 17px;
color:#F97B22;
margin-right: 5px;
}
.social-links {
position: absolute;
bottom: 10px;
left: 50%;
transform: translate(-50%, -50%);
}
.social-links .fab{
font-size: 25px;
border: 2px solid #7C9070;
color:#F97B22;
cursor: pointer;
padding: 8px;
border-radius: 50%;
transition: 0.8s;
}
.social-links .fab:hover{
background: #F97B22;
color:#fff;
transform: translate(-5px);
}

.body-features {
    display: flex;
    max-width: 1200px;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
}

.body-plan {
    display: flex;
    flex-direction: column;
    margin: 55px;
    padding: 20px;
    background-color: #FFDAC7;
    flex: 1;
    flex-wrap: wrap;
}

.body-plan h3, img, a {
    align-self: center;
}

h3 {
    color: #52616b;
    font-size: 30px;
    font-family: "Ubuntu";
}
.body-price{
    color: #52616b;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    align-self: center;
    margin: 20px auto;
}
.body-cta {
    background-color: #FFADAD;
    color:#52616b;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}
.body-cta:hover {
    background-color:#FFDAC7;
}

.flip-card-front img {
    max-width: 100%;
}

.flip-card {
    background-color:#FFDAC7;
    width: 100%;
    height: 35vh;
    perspective: 1000px;
    flex-wrap: wrap;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.flip-card-back {
    background-color: #9CA777;
    transform: rotateY(180deg);
    
}
.flip-card-back p {
    font-family: "Ubuntu";
    color:#52616b;
    font-size: 20px;
    align-self: center;
    margin: 50px 0;
}


#makeup-products {
    width: 100%;
    height: 100vh;
    padding: 35px 0;
}

.makeup-title-text {
    text-align: center;
}

.makeup-title-text h4 {
    color: #52616b;
    font-size: 20px;
}

.makeup-title-text h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.makeup-products-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.makeup-product-item {
    flex-basis: 45%;
    text-align: center;
    margin-bottom: 20px;
    color: #52616b;
    position: relative;
}

.makeup-product-item img {
    width: 100%;
    border-radius: 8px;
}

.makeup-layout {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    top: 0;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), orange);
    opacity: 0;
    transition: .8s;
}

.makeup-product-item:hover .makeup-layout {
    opacity: 1;
}

.makeup-product-text {
    width: 60%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    opacity: 0;
    transition: .8s;
}

hr {
    background: #FAD6A5;
    width: 60%;
    height: 2px;
    border: 0;
    margin: 10px auto;
}

.makeup-product-item:hover .makeup-product-text {
    bottom: 15%;
    opacity: 1;
}

#main-picture {
    color: #F97B22;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hair-page {
    width: 1200px;
    border-radius: 5%;
}

.hair-heading-one {
    position: absolute;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0, 3%;
    font-weight: 200;
    font-style: bold;
    font-size: 1 rem;
    font-family: 'Montserrat', sans-serif;
}

#hair-products {
    width: 100%;
    height: 100vh;
    padding: 35px 0;
}

.hair-title-text {
    text-align: center;
}

.hair-title-text h4 {
    color: #52616b;
    font-size: 20px;
}

.hair-title-text h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hair-products-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.hair-product-item {
    flex-basis: 45%;
    text-align: center;
    margin-bottom: 20px;
    color: #52616b;
    position: relative;
}

.hair-product-item img {
    width: 100%;
    border-radius: 8px;
}

.hair-layout {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    top: 0;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), orange);
    opacity: 0;
    transition: .8s;
}

.hair-product-item:hover .hair-layout {
    opacity: 1;
}

.hair-product-text {
    width: 60%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    opacity: 0;
    transition: .8s;
}

hr {
    background: #FAD6A5;
    width: 60%;
    height: 2px;
    border: 0;
    margin: 10px auto;
}

.hair-product-item:hover .hair-product-text {
    bottom: 15%;
    opacity: 1;
}
